<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IStudentService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IStudentService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/studentService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IStudentService" contract="StudentService.IStudentService"
                name="BasicHttpBinding_IStudentService" />
            <endpoint address="net.tcp://localhost:8090/studentService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IStudentService" contract="StudentService.IStudentService"
                name="NetTcpBinding_IStudentService">
                <identity>
                    <userPrincipalName value="DESKTOP-96IVBVT\tisstp" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>